<!DOCTYPE html>
<html>
  <head>
    <title>Autor</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% errors = 0 %>
    <h1>Créditos</h1>
    <br/><br/>
    <table class="center" width="400">
        <tr>
            <td><img src='/images/foto.jpg' title='Alfonso' alt='Alfonso' height='150px'/></td>
            <td width="400"></td>
            <td><iframe width="210" height="158" frameborder="0" src="https://www.youtube.com/embed/0H01Rs3N9VQ"></iframe></td>
        </tr>
        <tr>
            <td>Alfonso Escolano</td>
            <td></td>
            <td>Un vídeo para reir</td>
        </tr>
    </table>
    <div style="float: left;">


    </div>
    <div style="float: left; text-align: left;">

    </div>
  </body>
</html>
